.share {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
  background-color: rgba(179, 221, 234, 0.3);
  width: 60%;
  margin: 3rem auto;
  padding: 3rem;
}

.copyToClipboard {
  background-color: rgba(125, 125, 125, 0.1);
  border-radius: 10px;
  display: block;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.copyToClipboard__value {
  padding: 0.5rem 1rem;
}

.copyToClipboard__button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0 10px 10px 0;
  width: 20%;
}

.copyToClipboard__button:hover,
.copyToClipboard__button:active {
    background-color: rgba(125, 125, 125, 0.1);
}
