.copyToClipboard {
  background-color: rgba(125, 125, 125, 0.1);
  border-radius: 10px;
  display: block;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.copyToClipboard__value {
  padding: 0.5rem 1rem;
}

.copyToClipboard__button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0 10px 10px 0;
  width: 20%;
}

.copyToClipboard__button:hover,
.copyToClipboard__button:active {
  background-color: rgba(125, 125, 125, 0.1);
}
